.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
    position: relative;
  
    
}

@media screen and (max-width: 1023px) {
    .navigation__hamburger {
        margin: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
        
           
    }
}