.filterCheckbox {
    margin: 0 70px 10px 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 18px;
    padding-bottom: 40px;
    border-bottom: solid 1px #E8E8E8;
  
}
@media screen and (max-width: 1023px) {
    .filterCheckbox {
        margin: 0 30px 0 30px;
    }
}

@media screen and (max-width: 767px) {
    .filterCheckbox {
        padding-bottom: 44px;
        margin: 0 14px 0 14px;
      
    }
  }