@media screen and (max-width: 1023px) {
    .navigation__hamburger {
        margin: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
        
           
    }
}