.profile__header {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  padding: 0;
  margin: 0 0 123px 0;
}

@media screen and (max-width: 1023px) {
  .profile__header {
    margin-bottom: 96px;
  }
}

@media screen and (max-width: 767px) {
  .profile__header {
    margin-bottom: 80px;
  }
}
