.searchForm__input {
  background-color: #f4f4f4;
  border: none;
  border-radius: 4px;
  height: 48px;
  margin-right: 10px;
  width: 100%;
  padding-left: 22px;
}

@media screen and (max-width: 767px) {
  .searchForm__input {
    height: 44px;
  }
}
