.searchForm__input {
    background-color: #F4F4F4;
    border-radius: 4px;
    height: 48px;
    margin-right: 10px;
    width: 100%;
    padding-left: 22px;
}

@media screen and (max-width: 767px) {
    .searchForm__input {
        height: 44px;
      
    }
  }