.profile {
  padding: 74px 0px 70px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: max-content;
}

@media screen and (max-width: 1023px) {
  .profile {
    padding: 200px 0px 0px 0px;
  }
}

@media screen and (max-width: 767px) {
  .profile {
    padding: 70px 0px 00px 0px;
  }
}
