.aboutMe__img {
  border-radius: 10px;
  width: 270px;
  height: 327px;
  object-fit: cover;
}

@media screen and (max-width: 1023px) {
  .aboutMe__img {
    width: 255px;
    height: 307px;
  }
}

@media screen and (max-width: 767px) {
  .aboutMe__img {
    width: 100%;
    height: 352px;
    margin-bottom: 40px;
  }
}
