.footer__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #A0A0A0;
  border-bottom: solid 1px #E8E8E8;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
}

  @media screen and (max-width: 767px) {
    .footer__title {
      font-size: 12px;
      line-height: 15px;
      padding-bottom: 21px;
    }
  }
