.aboutMe__description {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  padding: 0;
  margin-bottom: 26px;
  margin-top: 0;
}

@media screen and (max-width: 1023px) {
  .aboutMe__description {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  .aboutMe__description {
    font-size: 11px;
    line-height: 16px;
  }
}
