.portfolio__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #a0a0a0;
  mix-blend-mode: normal;
  margin-top: 0;
  padding: 0;
  margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
    .portfolio__title {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 40px;
    }
  }
