.promo__about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 80px;
}

@media screen and (max-width: 1023px) {
    .promo__about {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-bottom: 92px;
    }
}

@media screen and (max-width: 767px) {
    .promo__about {
        margin-bottom: 80px;
    }
}