.not-found__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin: 0;
    margin-bottom: 184px;
}

@media screen and (max-width: 767px) {
    .not-found__text {
        margin-bottom: 284px;
        font-size: 12px;
    line-height: 15px;
    }
  }